<!doctype html>
<html lang="ru-RU" style="--vh: 7.25px; height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      width=device-width, initial-scale=1.0, maximum-scale=2.0"
    />
    <meta name="theme-color" content="#ADD8E6" />
    <link
      rel="icon"
      type="image/png"
      href="https://alfacrm.pro/favicon-48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://alfacrm.pro/favicon-16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://alfacrm.pro/favicon-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="https://alfacrm.pro/favicon-48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="https://alfacrm.pro/favicon-128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="https://alfacrm.pro/favicon-192.png"
    />
    <title>Cheap Alpha CRM</title>
    <script type="text/json" id="language-list">
      {
        "uz": "o’zbek",
        "af": "Afrikaans",
        "am": "አማርኛ",
        "ar": "عرب",
        "az": "Azərbaycan",
        "be": "беларуская",
        "bg": "български",
        "bn": "বাংলা",
        "bs": "bosanski",
        "ca": "català",
        "ceb": "Cebuano",
        "co": "Corsu",
        "cs": "čeština",
        "cy": "Cymraeg",
        "da": "dansk",
        "de": "Deutsch",
        "el": "Ελληνικά",
        "en": "English",
        "eo": "Esperanto",
        "es": "Español",
        "et": "eesti keel",
        "eu": "euskara",
        "fa": "فارسی",
        "fi": "Suomalainen",
        "fr": "français",
        "fy": "Frysk",
        "ga": "Gaeilge",
        "gd": "Albannach (Gàidhlig)",
        "gl": "galega",
        "gu": "ગુજરાતી",
        "ha": "hausa",
        "haw": "hawaiano",
        "hi": "हिंदी",
        "hmn": "hmoob",
        "hr": "Hrvatski",
        "ht": "Kreyòl (Ayiti)",
        "hu": "Magyar",
        "hy": "հայերեն",
        "id": "bahasa Indonesia",
        "ig": "Igbo",
        "is": "íslenskur",
        "it": "italiano",
        "iw": "עִברִית",
        "ja": "日本語",
        "jw": "basa jawa",
        "ka": "ქართული",
        "kk": "қазақ",
        "km": "ខ្មែរ",
        "kn": "ಕನ್ನಡ",
        "ko": "한국인",
        "ku": "kurmancî",
        "ky": "Кыргызча",
        "la": "Latinus",
        "lb": "Lëtzebuergesch",
        "lo": "ຄົນລາວ",
        "lt": "lietuvių",
        "lv": "latviski",
        "mg": "Malagasy",
        "mi": "Maori",
        "mk": "македонски",
        "ml": "മലയാളം",
        "mn": "Монгол",
        "mr": "मराठी",
        "ms": "Melayu",
        "mt": "Malti",
        "my": "မြန်မာ",
        "ne": "नेपाली",
        "nl": "Nederlands",
        "no": "norsk",
        "ny": "cheva",
        "or": "ଓଡିଆ",
        "pa": "ਪੰਜਾਬੀ",
        "pl": "Polskie",
        "ps": "پښتو",
        "pt": "português",
        "ro": "Română",
        "ru": "русский",
        "rw": "Rwanda",
        "sd": "سنڌي",
        "si": "සිංහල",
        "sk": "slovenský",
        "sl": "Slovenščina",
        "sm": "Samoa",
        "sn": "shona",
        "so": "Soomaali",
        "sq": "shqip",
        "sr": "Српски",
        "st": "sesotho",
        "su": "Sudanese",
        "sv": "svenska",
        "sw": "kiswahili",
        "ta": "தமிழ்",
        "te": "తెలుగు",
        "tg": "тоҷикӣ",
        "th": "ภาษาไทย",
        "tk": "Türkmen",
        "tl": "pilipino",
        "tr": "Türk",
        "tt": "Татар",
        "ug": "Uigur",
        "uk": "український",
        "ur": "اردو",
        "vi": "Tiếng Việt",
        "xh": "khosa",
        "yi": "יידיש",
        "yo": "yoruba",
        "zh-CN": "简体中文",
        "zh-TW": "中國傳統的",
        "zu": "zulu"
      }
    </script>
    <meta
      name="description"
      content="Peach version Alpha crm"
    />
    <meta property="og:type" content="website" />
    <!--<meta property="og:url" content="" /> -->
    <meta
      property="og:title"
      content="Cheap version Alpha crm"
    />
    <meta
      property="og:image"
      content="https://alfacrm.pro/build/images/brand-logo-2024.webp"
    />
    <style src="/public/style/index/m=el_main_css.css"></style>
    <style src="/public/style/index/swiperstyles.css"></style>
    <style src="/public/style/index/whatthefuck.css"></style>
  </head>
  <body></body>
</html>
