<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://alfacrm.pro/favicon-32.png"
    />
    <title>Регистрация Cheap Alpha CRM</title>
    <link rel="stylesheet" href="/style/register/custom.css" />
  </head>
  <body>
    <main class="container">
      <section class="info-side">
        <div class="logo"><img src="/img/register/brand-logo-2024.webp" style="width: 50%;"/></div>
        <h1>1 шаг до развития учебного центра!</h1>
        <p>
          Оставьте контакты и наш менеджер расскажет, как использовать CRM в
          вашем центре.
        </p>
        <p class="highlight">Бесплатный период — 10 дней.</p>

        <div class="promo-badge">
          <span>Скидки до 33% новым клиентам</span>
        </div>
      </section>
      <section class="form-side">
        <div class="form-container">
          <a href="/api/signup" class="back-link">‹ Новый аккаунт</a>

          <form action="/api/signup" id="registrationForm">
            <div class="input-group">
              <input type="text" name="fullName" placeholder="Ваше имя*" required />
            </div>
            <div class="input-group">
              <input type="email" name="email" placeholder="E-mail*" required />
            </div>
            <div class="input-group">
              <input type="tel" name="phone" placeholder="Телефон*" required />
            </div>
            <div class="input-group">
              <input
                type="text"
                name="companyName"
                placeholder="Название центра*"
                required
              />
            </div>
            <div class="input-group">
              <input
                type="text"
                name="adminKey"
                placeholder="Ключ администратора (случайный)"
                required
              />
            </div>

            <div class="checkbox-group">
              <label>
                <input type="checkbox" required /> Согласен с условиями
                договора-оферты
              </label>
              <label>
                <input type="checkbox" required /> Согласен на обработку
                персональных данных
              </label>
              <label>
                <input type="checkbox" /> Согласие на получение рассылок
              </label>
            </div>

            <button type="submit" class="submit-btn">Зарегистрироваться</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
