<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheap CRM Dashboard Layout</title>
    <link rel="stylesheet" href="/style/dashboard/custom.css" />
  </head>
  <body>
    <header class="alfa-header">
    <div class="header-left">
        <button class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="logo">
            <img src="/img/index/brand-logo-2024.webp" alt="alfacrm">
        </div>
    </div>

    <div class="header-center">
        <div class="icon-box"><img src="/img/user/dashboard/plus-icon.png" alt="+"></div>
        <div class="icon-box"><img src="/img/user/dashboard/settings-icon.png" alt="settings"></div>
        <div class="icon-box"><img src="/img/user/dashboard/email-icon.png" alt=""></div>
        <div class="icon-box"><img src="/img/user/dashboard/phone-icon.png" alt=""></div>
        <div class="icon-box"><img src="/img/user/dashboard/telegram-icon.png" alt=""></div>
        <div class="icon-box"><img src="/img/user/dashboard/shop-icon.png" alt=""></div>
        <div class="icon-box"><img src="/img/user/dashboard/notification-icon.png" alt=""></div>
        
        <div class="search-container">
            <input type="text" placeholder="Поиск клиента">
        </div>
    </div>
    <div class="header-right">
        <span class="user-name">kirill</span>
        <div class="user-avatar">
            <img src="/img/user/dashboard/empty-male.png" alt="">
        </div>
    </div>
</header>

  </body>
</html>
