<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheap CRM Dashboard</title>
    <link rel="stylesheet" href="/style/dashboard/teachers.css" />
    <link rel="stylesheet" href="/style/dashboard/custom.css" />
  </head>

  <body>
    <header class="alfa-header">
      <div class="header-left">
        <button class="burger-menu" id="burger-button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="logo">
          <img src="/img/index/brand-logo-2024.webp" alt="alfacrm" />
        </div>
      </div>

      <div class="header-center">
        <div id="dropdownMenu" class="dropdown-menu">
          <div class="menu-item">
            <img
              src="/img/user/dashboard/list-check-solid.png"
              alt=""
              class="nav-icon"
            />Задача
          </div>
          <div class="menu-item">
            <img
              src="/img/user/dashboard/user-plus-solid.png"
              alt=""
              class="nav-icon"
            />Лид
          </div>
          <div class="menu-item">
            <!--NOT THIS-->
            <img
              src="/img/user/dashboard/user-solid.png"
              alt=""
              class="nav-icon"
            />Клиент
          </div>
          <div class="menu-item">
            <img
              src="/img/user/dashboard/user-group-solid.png"
              alt=""
              class="nav-icon"
            />Группа
          </div>
          <hr />
          <div class="menu-item">
            <img
              src="/img/user/dashboard/money-bill-trend-up-solid.png"
              alt=""
              class="nav-icon"
            />Доход
          </div>
          <div class="menu-item">
            <img
              src="/img/user/dashboard/cart-shopping-solid.png"
              alt=""
              class="nav-icon"
            />Продажа товара
          </div>
          <div class="menu-item">
            <img
              src="/img/user/dashboard/money-bill-trend-up-solid.png"
              alt=""
              class="nav-icon"
            />Возврат средств
          </div>
          <div class="menu-item">
            <img
              src="/img/user/dashboard/wand-magic-sparkles-solid.png"
              alt=""
              class="nav-icon"
            />Корректировка
          </div>
          <hr />
          <div class="menu-item">
            <img
              src="/img/user/dashboard/user-group-solid.png"
              alt=""
              class="nav-icon"
            />Групповой
          </div>
          <div class="menu-item">
            <img
              src="/img/user/dashboard/user-solid.png"
              alt=""
              class="nav-icon"
            />Индивидуальный
          </div>
          <div class="menu-item">
            <img
              src="/img/user/dashboard/wand-magic-sparkles-solid.png"
              alt=""
              class="nav-icon"
            />Пробный
          </div>
        </div>
        <div class="icon-box" id="plusBtn">
          <img
            src="/img/user/dashboard/plus-solid.png"
            alt=""
            class="nav-icon"
          />
        </div>
        <div class="icon-box">
          <img
            src="/img/user/dashboard/wrench-solid.png"
            alt=""
            class="nav-icon"
          />
        </div>
        <div class="icon-box">
          <img
            src="/img/user/dashboard/envelope-solid.png"
            alt=""
            class="nav-icon"
          />
        </div>
        <div class="icon-box">
          <img
            src="/img/user/dashboard/mobile-solid.png"
            alt=""
            class="nav-icon"
          />
        </div>
        <div class="icon-box">
          <img
            src="/img/user/dashboard/telegram-brands-solid.png"
            alt=""
            class="nav-icon"
          />
        </div>
        <div class="icon-box">
          <img
            src="/img/user/dashboard/cart-shopping-solid.png"
            alt=""
            class="nav-icon"
          />
        </div>
        <div class="icon-box">
          <img
            src="/img/user/dashboard/bell-regular.png"
            alt=""
            class="nav-icon"
          />
        </div>
        <div class="search-container">
          <input type="text" placeholder="Поиск клиента" />
        </div>
      </div>
      <div class="header-right">
        <span class="user-name" id="name_info">Имя Пользователя</span>
        <div class="user-avatar">
          <img src="/img/user/dashboard/empty-male.png" alt="" />
        </div>

        <div class="user-menu-dropdown" id="userDropdown">
          <div class="dropdown-info">
            <p class="dropdown-name">Имя Пользователя</p>
            <p class="dropdown-email">user@example.com</p>
          </div>
          <hr />
          <ul class="dropdown-links">
            <li><a href="/profile">Мой профиль</a></li>
            <li><a href="/settings">Настройки</a></li>
            <li><a href="/logout" class="logout-link">Выйти</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main class="alfa-container">
      <aside class="sidebar" id="burger-menu">
        <nav class="sidebar-nav">
          <div class="nav-item" screen_type="analityc">
            <img
              src="/img/user/dashboard/chart-line-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Аналитика</span>
          </div>
          <div class="nav-item" screen_type="lessons">
            <img
              src="/img/user/dashboard/calendar-regular.png"
              alt=""
              class="nav-icon"
            />
            <span>Уроки</span>
          </div>
          <div class="nav-item" screen_type="tasks">
            <img
              src="/img/user/dashboard/list-check-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Задачи</span>
          </div>
          <div class="nav-item" id="clientLink">
            <!--ITS HERE-->
            <img
              src="/img/user/dashboard/user-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Клиенты</span>
          </div>
          <div class="nav-item" screen_type="groups">
            <img
              src="/img/user/dashboard/user-group-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Группы</span>
          </div>
          <div class="nav-item" id="teachersLink">
            <img
              src="/img/user/dashboard/chalkboard-user-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Педагоги</span>
          </div>
          <div class="nav-item" screen_type="finance">
            <img
              src="/img/user/dashboard/coins-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Финансы</span>
          </div>
          <div class="nav-item" screen_type="abonements">
            <img
              src="/img/user/dashboard/tags-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Абонементы</span>
          </div>
          <div class="nav-item" screen_type="leaders">
            <img
              src="/img/user/dashboard/user-plus-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Лиды</span>
          </div>
          <div class="nav-item" screen_type="legalEntity">
            <img
              src="/img/user/dashboard/briefcase-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Юр Лица</span>
          </div>
          <div class="nav-item" screen_type="informer">
            <img
              src="/img/user/dashboard/book-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Информер</span>
          </div>
          <div class="nav-item" screen_type="security">
            <img
              src="/img/user/dashboard/lock-solid.png"
              alt=""
              class="nav-icon"
            />
            <span>Доступ в CRM</span>
          </div>
        </nav>
      </aside>

      <section class="main-content">
        <div class="content-header">
          <div class="tabs">
            <button class="tab active">Рабочий стол</button>
            <button class="tab">Отчеты</button>
          </div>

          <div class="action-bar">
            <div class="btn-group">
              <button class="btn btn-blue" id="add_btn">+ Добавить</button>
              <button class="btn btn-light-blue">Править</button>
              <button class="btn btn-red">Удалить</button>
              <button class="btn btn-gray">Другое</button>
            </div>
            <button class="btn btn-green">Личный рабочий стол</button>
          </div>
        </div>

        <div>
          <div class="placeholder-content" id="placeholder-content">
            <div style="margin-top: 20px">
              <div class="filters">
                <button class="filter-btn active" data-type="all">Все</button>
              </div>

              <div class="table-wrapper">
                <table id="clientTable">
                  <thead>
                    <tr>
                      <th>Фото</th>
                      <th>ФИО</th>
                      <th>Пол</th>
                      <th>Дата рождения</th>
                      <th>Контакты</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="teacher_table_tbody"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="dark_phone" id="dark_phone">
        <div class="teacher-registration-container">
          <form
            class="teacher-form"
            id="addTeacherForm"
            action="/api/addteacher"
            method="post"
          >
            <div class="teacher-form__header">
              <h2 class="teacher-form__title">Добавить педагога</h2>
              <button
                type="button"
                class="teacher-form__close-btn"
                id="add_teacher_exit_btn"
              >
                &times;
              </button>
            </div>

            <div class="teacher-form__body">
              <div class="form-field-group">
                <label class="form-label" for="fullname">ФИО *</label>
                <input
                  type="text"
                  name="fullname"
                  class="form-input-text"
                  placeholder="Например, Иванова Мария Ивановна"
                  required
                />
              </div>
              <div class="form-row-flexible">
                <div class="form-field-group field-date">
                  <label class="form-label">Дата рождения</label>
                  <input
                    type="date"
                    name="birthday"
                    class="form-input-text input-mask-date"
                  />
                </div>
                <div class="form-field-group field-gender">
                  <label class="form-label">Пол</label>
                  <div class="gender-toggle-container">
                    <input
                      type="radio"
                      name="ender"
                      id="female"
                      class="gender-radio"
                      value="F"
                    />
                    <label for="female" class="gender-button-label">
                      <span
                        ><img
                          src="/img/user/dashboard/person-dress-solid.png"
                          class="icon"
                      /></span>
                      Ж.
                    </label>
                    <input
                      type="radio"
                      name="ender"
                      id="male"
                      class="gender-radio"
                      value="M"
                    />
                    <label for="male" class="gender-button-label">
                      <span
                        ><img
                          src="/img/user/dashboard/person-solid.png"
                          class="icon"
                      /></span>
                      M.
                    </label>
                  </div>
                </div>
              </div>
              <input name="gender" type="hidden" id="gender"/>
              <div class="form-field-group">
                <label class="form-label">Контакты</label>
                <div class="contact-entry-row">
                  <div class="contact-type-selector" id="countrySelector">
                    <span class="selected-flag">
                      <img
                        src="/img/user/dashboard/mobile-solid.png"
                        class="icon-phone"
                        alt="phone"
                      />
                      <span id="selectedCode">+0</span>
                    </span>
                    <span class="dropdown-arrow">▼</span>

                    <ul class="country-dropdown" id="countryList">
                      <li data-code="+7">🇷🇺 Россия (+7)</li>
                      <li data-code="+375">🇧🇾 Беларусь (+375)</li>
                      <li data-code="+380">🇺🇦 Украина (+380)</li>
                      <li data-code="+7">🇰🇿 Казахстан (+7)</li>
                      <li data-code="+994">🇦🇿 Азербайджан (+994)</li>
                    </ul>
                  </div>
                  <input
                    type="tel"
                    class="form-input-text"
                    placeholder="Мобильный"
                    id="telInput"
                  />

                  <input type="hidden" id="invisiblePhoneInput" name="contacts"/>
                </div>
              </div>

              <div class="form-field-group">
                <label class="form-label">Примечание</label>
                <textarea
                  class="form-textarea"
                  placeholder="Любое текстовое примечание"
                  name="description"
                ></textarea>
              </div>

              <div class="form-field-group">
                <label class="form-label">Филиалы</label>
                <div class="branch-selection-list">
                  <!--<label class="checkbox-custom-label"><input type="checkbox" checked /><span class="checkbox-text">SoftSkills Александров</span></label> -->
                </div>
              </div>

              <div class="form-field-group">
                <label class="form-label">Цвет</label>
                <div class="color-picker-wrapper">
                  <input type="color" class="color-preview-box" name="color" />
                </div>
              </div>
            </div>

            <div class="teacher-form__footer">
              <button
                id="add_teacher_exit_btn"
                type="button"
                class="btn-secondary-action"
              >
                Отмена
              </button>
              <button type="submit" class="btn-primary-submit">
                <span class="icon-save">💾</span> Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="/script/dashboard/teachers.js"></script>
    <script src="/script/dashboard/backend.js"></script>
    <script src="/script/dashboard/dynamic.js"></script>
  </body>
</html>
